* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
}
.push {
height: 2em;
}
.google { 
    position: absolute;
    margin: 7% 40%; 
    height: 15%;
}
.navbar {
	position: absolute; 
	float: right; 
	display: inline;
}
.navtext {
	color: grey;
	padding: 10px;
	vertical-align: -5px;
}
.foottext {
	color: grey;
	padding: 15px;
}
a { text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
.searchform {    
	position: absolute;
    margin: 16% 31%;
}
.search-box {
	width: 170%;
	height: 30px; 
}
.buttons {
	position: absolute;
	width: 200%;
	display: inline-block;
	padding-left: 43%;
	padding-top: 10%;
}

footer {
	background-color: #EEE;
	position: relative;
	clear: both;
    margin-top: 39%;
	height: 2em;
}
#leftF {
	float: left;
}
#rightF {
	float: right;
}
